
*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
body{
    background-color: rgb(175, 188, 199);
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
 h1{
    
    text-align:center;
    margin-bottom: 10px;
    color:rgb(13, 90, 206)
 }   
}
.box{
    background-color:rgb(253, 254, 255);
   
     width:400px;
     height:400px;
     padding:60px;
     border-radius:20px;

}

label{
    font-size:25px;
    font-weight:600;
    margin-bottom:10px;
}
input{
    width:100%;
    height:30px;
    padding:10px;
    font-size:20px;
    margin-bottom:10px;
    border-radius:15px;

}
button{
    font-weight:600;
    font-size:20px;
    margin-top:15px;
    width:100%;
    height:30px;
    border-radius:10px;
    background-color:rgb(54, 129, 250);
    cursor:pointer;
    transition: 0.2s ease;
    

}
button:hover{
    transform: scale(1.2); 
}