h1{
   color:rgb(9, 9, 104) 
}

#container{
    height:300px;
    width:400px;
   
    background-color: white;
    position:relative;
} 
#circle{
    height: 200px;
    width:200px;
    background-color:red;
    border-radius:50%;
    position:absolute;
    left: 100px;
    top: 50px;

}
#japan{
    height: 300px;
    width:400px;
    background-color:rgb(250, 233, 3);
   position: relative;

}

#item1{
  height: 130px;
  width: 130px;
  position:absolute;

  
}
#item2{
   height: 130px;
  width: 220px;
  position:absolute;
  left: 180px;
  right:0px;
   
}
#item3{
   height: 130px;
  width: 130px;
  position:absolute;
  bottom:0px

   
}
#item4{
   height: 130px;
  width: 220px;
  position:absolute;
  left: 180px;
  bottom:0px;
   

}
#item1, #item2, #item3, #item4 {
  background-color: rgb(6, 68, 161);
}
#laos{
    height: 300px;
    width:400px;
    position:relative;
}
#item5{
  height: 160px;
  width: 400px;
  position:absolute;
  background-color:rgb(11, 11, 101);
  top:68px;
}
#item6{
    height: 120px;
  width: 120px;
  position:absolute;
  border-radius:50%;
  background-color:rgb(244, 244, 246);
  top: 85px;
  left:130px;
  
}